@use "../../scss/" as *;

.hero {
    margin-bottom: 3rem;
    padding: 9rem 0;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(
            to top,
            $main-background,
            rgba($black, 0)
        );
    }
    @extend %overlay;

    &__wrapper__content {
        @include center_element();

        .title {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 0.4rem;
        }
        .overview {
            font-weight: 700;
        }
        .btns_wrapper {
            text-align: center;
            margin: 10px auto;
        }
    }
}
