$main-color: #078cd6;
$text-color: #bebebe;

$main-background: #1d1d2a;
$secondary-background: #222433;

$white: #bebebe;
$black: #333;
$dark: #2d2f3e;

$sidebar-width: 150px;

$border-radius: 30px;

$box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
